* {
  margin: 0;
  box-sizing: border-box;
  background-color: #cccccc;
}
html {
  height: 100%;
}
body {
  font: 100% Lucida Sans, Verdana;
  margin: 20px;
  line-height: 25px;
  height: 100%;
  margin-bottom: 1em;
  width: 80%;
}
li {
  list-style: inside;
  padding: 5px 4px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
li .articles {
  text-align: left;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  xmin-width: 900px;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1em;
}
#top {
  background-color: #b3b3b3;
  color: #ffffff;
  padding: 15px;
}
#top #bottom,
#top .outer {
  border-radius: 4px;
  margin: 4px;
}
#title {
  text-align: center;
}
#title,
#menulist {
  margin: 0;
  padding: 0;
}
#menubar {
  width: 18%;
  float: left;
  margin-top: 1em;
}
#main {
  padding: 10px;
  width: 57%;
  float: left;
}
#sidebar {
  background-color: #32a4e7;
  color: #ffffff;
  padding: 10px;
  width: 25%;
  float: right;
}
#footer {
  position: fixed;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  line-height: 1em;
  height: 3em;
  bottom: 0;
  left: 0;
  width: 100%;
}
.inner {
  list-style: inside;
  font-weight: normal;
  padding: 1px 1px 1px 10px;
  border-bottom: 0;
  white-space: nowrap;
}
.rightmenulist {
  margin: 0;
  padding: 0;
  color: #000000;
}
.outer {
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  list-style-type: none;
  padding: 2px;
  cursor: pointer;
}
.outer:hover {
  background-color: #ffffff;
}
.plain {
  background-color: #f1f1f1;
}
#title,
.headline,
.menuitem {
  text-transform: capitalize;
  border-radius: 10px;
}
.headline {
  padding: .2em 0em 0em .5em;
  line-height: 35px;
}
.clearfix {
  overflow: auto;
}
#picture {
  float: left;
  width: 225px;
  height: 168px;
  margin-left: 1em;
  margin-right: 1em;
}
#claims {
  margin-left: 1em;
}
#claims h3 {
  margin-top: 1em;
}
#claims .comments {
  background: #fff;
}
#claims iframe {
  width: 100%;
  height: 250px;
  border: 0;
}
#claims .comment-wrap {
  background: #fff;
  position: relative;
}
#claims .comments .comment-wrap {
  display: none;
  z-index: 5;
  padding: 10px;
}
#claims .comments:hover .comment-wrap {
  display: block;
}
#maintext {
  float: left;
  margin-left: 1em;
}
.search-container {
  float: left;
  width: 25%;
}
.search-box {
  padding: 0px;
  margin: 0px;
  width: 88%;
}
.search {
  line-height: 150%;
  width: 10%;
}
@media (max-width: 800px) {
  body {
    width: 100%;
  }
  #sidebar {
    width: auto;
    float: none;
  }
  #main {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  body {
    width: 100%;
  }
  #menubar {
    width: auto;
    float: none;
  }
  #main {
    margin: 0;
  }
}
